@charset "UTF-8";
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/**
 * CONTENTS
 *
 * SETTINGS
 * variables .....................变量
 * 
 * TOOLS
 *
 * COMPONENTS
 * reset .........................重置样式
 * 
 * BUSINESS
 *
 * BASE
 * 
 */
/* line 5, E:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, E:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, E:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, E:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, E:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, E:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, E:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, E:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, E:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 64, other/*.png */
.other-sprite, a.logo, #alarm_controller span {
  background-image: url('../images/other-sf1b5e88008.png');
  background-repeat: no-repeat;
}

/* line 80, top/*.png */
.top-sprite, .top-change_pwd, .top-help, .top-reboot_sys, .top-shutdown, .top-user {
  background-image: url('../images/top-sd1acb12554.png');
  background-repeat: no-repeat;
}

/* line 184, list_panel/*.png */
.list_panel-sprite {
  background-image: url('../images/list_panel-sedfdbbf300.png');
  background-repeat: no-repeat;
}

/* line 84, E:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.top-change_pwd {
  background-position: 0 0;
}

/* line 84, E:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.top-help {
  background-position: 0 -30px;
}

/* line 84, E:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.top-reboot_sys {
  background-position: 0 -60px;
}

/* line 84, E:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.top-shutdown {
  background-position: 0 -90px;
}

/* line 84, E:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.top-user {
  background-position: 0 -120px;
}

/* line 30, ../sass/maincss.scss */
body {
  overflow: hidden;
  font-family: "微软雅黑", sans-serif;
}

/* line 37, ../sass/maincss.scss */
.header {
  width: 100%;
  height: 70px;
  color: #fefefe;
  background-color: #2B303E;
  min-width: 950px;
}
/* line 41, ../sass/maincss.scss */
.header a.logo {
  float: left;
}
/* line 44, ../sass/maincss.scss */
.header div.header-right {
  float: right;
  width: 51%;
  height: inherit;
  min-width: 600px;
}

/* line 51, ../sass/maincss.scss */
a.logo {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  background-position: 0 0;
  color: inherit;
  text-decoration: inherit;
  cursor: inherit;
  cursor: pointer;
  padding-left: 47px;
  margin-left: 12px;
  margin-top: 14px;
}
/* line 6, E:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_unstyled-link.scss */
a.logo:active, a.logo:focus {
  outline: none;
}
/* line 61, ../sass/maincss.scss */
a.logo #CH_logo_title {
  font-size: 30px;
  font-family: "华文楷体", serif;
}

/* line 69, ../sass/maincss.scss */
#alarm_controller {
  float: left;
}
/* line 71, ../sass/maincss.scss */
#alarm_controller span {
  width: 50px;
  height: 60px;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  background-position: 0 -65px;
  margin-top: 8px;
}

/* line 79, ../sass/maincss.scss */
.help-div {
  float: right;
  line-height: 58px;
  margin-right: 17px;
}
/* line 84, ../sass/maincss.scss */
.help-div .kwicks {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1;
}
/* line 62, E:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/typography/lists/_horizontal-list.scss */
.help-div .kwicks li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  white-space: nowrap;
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}
/* line 49, E:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/typography/lists/_horizontal-list.scss */
.help-div .kwicks li:first-child {
  padding-left: 0;
}
/* line 50, E:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/typography/lists/_horizontal-list.scss */
.help-div .kwicks li:last-child {
  padding-right: 0;
}
/* line 52, E:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/typography/lists/_horizontal-list.scss */
.help-div .kwicks li.last {
  padding-right: 0;
}
/* line 87, ../sass/maincss.scss */
.help-div .kwicks li form {
  cursor: pointer;
}
/* line 90, ../sass/maincss.scss */
.help-div .kwicks li form span span {
  font-size: 14px;
  vertical-align: middle;
}
/* line 94, ../sass/maincss.scss */
.help-div .kwicks li form span i {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  width: 30px;
  height: 30px;
}

/* line 108, ../sass/maincss.scss */
#bottomFrame {
  background-color: #2b2e37;
}
