@charset "utf-8";

@import "compass/typography";
@import "compass/css3";
@import "compass/layout";
@import "variables","mixin","icons";

// footer.cgi样式

.main-footer{
	background-color:$footer-bg-color;
	table{
		font-size:11px;
		color:$footer-font;
		@include set_size();
		tbody{
			tr{
				@include set_size();
				td{
					line-height:25px;
					@include set_size(33% );
				}
				.host-name{
					padding-left:1%;
					text-align:left;
					img{
					    vertical-align: middle;
					}
				}
				.copy-right{
					text-align:center;
				}
				.time{
					text-align:right;
					padding-right:1%;
				}
			}
		}
	}
}
