@charset "utf-8";
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */


/**
 * CONTENTS
 *
 * SETTINGS
 * variables .....................变量
 * 
 * TOOLS
 *
 * COMPONENTS
 * reset .........................重置样式
 * 
 * BUSINESS
 *
 * BASE
 * 
 */

@import "compass/reset";
@import "variables","mixin";
@import "top","footer","leftMenu","right","msg";

body { 
    overflow: hidden;
    font-family: $font-wryh;
}

// main.cgi样式

#bottomFrame{
	background-color:$footer-bg-color;
}


// center.cgi

#leftFrame {
	@include set_size(181px,100%);
	@include float(left);
	@set_color($left-menu-font,#fff);
	@media(max-width:768px){
         display: none;
    }
}

#rightFrame {
	@include set_size(2000px,100%);
	@include float(right);
	@set_color($lp-table-font-color,#fff);
	@media(max-width:768px){
         width:100%!important;
    }
}

