doctype html 
html
	head
		meta(charset='utf-8')
		title css-jade
	body
		h1.big-title#big_id.big learn jade css
		a#div_id(href="http://www.baidu.com")
		input(value="haha" type="text")
		input(type="checkbox" checked)
		p.
			1.aa<strong>strong</strong>
			2.bb
			3.cc
		p
			|1.aa
			strong 11
			|2.bb
			span 12
		//h3
		//-h4
		//-
		p
			|1.aa
			strong 11
			|2.bb
			span 12
