@charset "utf-8";

@import "compass/typography";
@import "compass/css3";
@import "compass/layout";
@import "variables","mixin","icons";

// left.cgi

#left-body {
	@include set_size(100%);
	@include set_color($left-menu-font,$left-menu-bg-color);
    min-width: 180px;
    overflow-y: auto;
    .left-menu{
    	#left-menu-header{
    		@include set_size(100%,30px);
    		@include set_color($left-menu-header-font-color);
    		border-top:1px solid #767A83;
			z-index: 6;
		    line-height: 30px;
		    position: fixed;
		    padding-left:23px;
		    i{
		    	@include set_size(20px,20px);
				@include inline-block();
    			vertical-align: middle;
		    }
    	}
    	#menu-content{
			padding-top:31px;
    	}
    }
}

#menu-content{
	dl{
		dd{
			ul{
				
				@include set_size();
				@include no-bullet();
				li{
					@include set_color(inherit,$footer-bg-color);
					&:hover{
						@include set_color(#fff,$left-menu-blue);
						@include hover();
						
					}
					&:before{
						content:"";  
					    position: absolute;  
						left:27px;
						border:1px dashed #fff;
					}
					a{
						@include inline-block();
						@include line-height(26px);
						@include set_size(100%,26px);
						@include unstyled-link();
						text-indent:45px;
					    font-size: 14px;
					}
				}
				li.selected{
					a{
						color:#fff;
					}
				}
			}
		}
		dt{
			@include set_size(100%);
			@include line-height(28px);
			@include set_color($left-menu-font);
			@include hover();
			padding: 3px;
			padding-left:23px;
			border-left:3px solid $left-menu-bg-color;
			a{
				@include unstyled-link();
				@include inline-block();
				@include set_size();
			}
			&:hover{
				@include set_color(#fff,$left-menu-hover);
				border-color:$left-menu-blue;
				font-weight:normal;
			}
		}
	}
}
