@charset "utf-8";

@import "compass/typography";
@import "compass/css3";
@import "compass/layout";
@import "variables","mixin","icons";

// right-tab

.tab-div {
	@include set_size(100%,30px);
	@include float(right);
	@include set_color($right-header-title,$right-header-bg-color);
	li.active {
		@include set_color($right-header-title,$lp-bg-color);
	}
	@include horizontal-list(0px);
	li{
		@include border-radius(3px 3px 0 0);
		margin-left:10px;
		@include line-height(25px);
		margin-top:5px;
		a{
			@include unstyled-link();
			@include hover();
			padding:0 15px;
			font-size:13px;
			font-weight:bold;
		}
	}
}

// right-content
.hidden_class,.hide {
    display:none; 
}
.right-content {
	@include set_size(100%,680px);
	@include stretch(30px);
	@include float(right);
	@include set_color(#000,#fff);
}