@charset "utf-8";
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */


/**
 * CONTENTS
 *
 * SETTINGS
 * variables .....................变量
 * 
 * TOOLS
 *
 * COMPONENTS
 * reset .........................重置样式
 * 
 * BUSINESS
 *
 * BASE
 * 
 */

@import "compass/reset";
@import "compass/typography/vertical_rhythm";
@import "compass/css3";
@import "compass/typography/links";
@import "compass/typography/lists";
@import "compass/typography/text";
@import "variables","mixin","icons";

body { 
    overflow: hidden;
    font-family: $font-wryh;
    @include set_color($top-font-color,$top-bg-color);
}

.header {
	@include set_size(100%,70px);
	min-width:900px;
	a.logo{
		@include float(left);
	}
	div{
		@include float(right);
		@include set_size(51%);
	}
}

a.logo{
	@include inline-block();
	@include other-sprite("logo");
	padding-left:70px;
	margin:{
		left:12px;
		top:56px;
	}
	#CH_logo_title{
		font:{
			size:$top-logo-font-size;
			family: $font-hwkt;
		}
	}
}

#alarm_controller{
	@include float(left);
	span{
		@include other-sprite("warnning_lamp");
	}
}

.help-div{
	@include float(right);
	@inlude set_size(80%)
	.kwicks{
		@include inline-block-list(2px);
	}
}